.reverb-wrapper {
  @include j-center(960px);
  column-count: 1;
  column-gap: 20px;
  margin: 5% auto;
  max-width: 960px;

  @media screen and (min-width: $break-medium) {
    column-count: 2;
  }

  @media all and (min-width: $break-large) {
    column-count: 3;
  }
}

.reverb {
  @include j-center(960px);
  background-color: $color-white;
  border-radius: 8px;
  display: inline-block;
  height: auto;
  margin: 5% auto;
  vertical-align: top;
  width: 100%;

  @media screen and (min-width: $break-medium) {
    min-height: 100px;
  }

  @media all and (min-width: $break-large) {
    min-height: 200px;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  .title {
    margin: 0 auto;

    a {
      color: $color-secondary;

      &:hover {
        color: $color-primary;
      }
    }
  }

  p {
    padding: 0 20px;
  }
}

.reverb-modal {
  display: none;
  position: fixed;
  background: #fff;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  padding: 1em;
}

.pull-right {
  float: right;
}

.reverb-modal--visible {
  display: block;
}

.reverb-content {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.reverb-content__header {
  position: absolute;
  width: 100%;
  top: 1em;
}

.reverb-content__description {
  width: 100%;
  padding-top: 100px;
}